# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Intellij
.idea

# Terraform
.terraform.lock.hcl

# Lambda Binaries Zip files
lambda/bin/*
fargate/bin/*
fargate/upload-move/app/*

# Mac
.DS_Store

#dynamodb test data
test-dynamodb-data/
testdata/
miniodata/

